# Strings

set of characters

In [1]:
#       -1
s = 'hello'
#    01234

print(s)

hello

In [2]:
print(s[0])

h

In [3]:
print(s[4])

o

In [4]:
print(s[-1])

o

In [5]:
print(s[-2])

l

In [6]:
print(type(s))

<class 'str'>

In [7]:
print(type(s[0]))

<class 'str'>

# string slicing

In [8]:
s = 'communication'
#    0123456789

print(s[0:5])

commu

In [9]:
print(s[::-1])

noitacinummoc

In [10]:
print(s[1:4])

omm

In [11]:
s = 'communication'
#    0123456789

print(s[4:1])

In [12]:
s = ''

print(type(s))

<class 'str'>

In [13]:
s = 'communication'
#    0123456789

print(s[-1:-9:-1])

noitacin

# String Functions

In [14]:
s = 'communication'

print(len(s))

13

In [15]:
print(sum(s))   # s = 0

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
print(max(s))

u

In [17]:
print(min(s))

a

In [ ]:
# ASCII

'A' -> 65
'B' -> 66
'Z' -> 90

'a' -> 97
'z' -> 122

' ' -> 32 -> space

## string methods

In [19]:
# help(str)

In [20]:
'raj123' == 'RAJ123'

False

In [21]:
s = 'RAJ123'

print(s.casefold())

raj123

In [22]:
s = 'India'

print(s.upper())

INDIA

In [23]:
print(s.lower())

india

In [24]:
# split

s = 'This is an apple'

print(s.split(" "))

['This', 'is', 'an', 'apple']

In [25]:
s = "Hello User"

print(s.split("e"))

['H', 'llo Us', 'r']

In [26]:
# join

l = ['This', 'is', 'an', 'apple']

a = "+"

print(a.join(l))

This+is+an+apple

In [27]:
# join

l = ['This', 'is', 'an', 'apple']

a = " "

print(a.join(l))
#   " ".join(l)

This is an apple

In [28]:
# remove all the spaces from the string

s = "This is an Apple"

l = s.split(" ")

x = "".join(l)

print(x)

ThisisanApple

**Write a program to enter a string from user and print the biggest word from the para**

# range function

In [29]:
n = range(5)   # this will create a series of numbers from 0 to 4

print(n)

range(0, 5)

In [30]:
print(type(n))

<class 'range'>

In [31]:
n = list(range(5))

print(n)

[0, 1, 2, 3, 4]

In [32]:
n = list(range(3,8))

print(n)

[3, 4, 5, 6, 7]

In [33]:
print(range(20) == range(0,20))

True

In [34]:
n = list(range(5,20,2))    # range(start, end, steps)

print(n)

[5, 7, 9, 11, 13, 15, 17, 19]

## for loop

In [35]:
l = ["A", "B", "C", "D"]

print("Z" in l)

False

In [36]:
l = ["A", "B", "C", "D"]
#                    i

#  "B" in l
for i in l:
    print(i)

A
B
C
D

In [37]:
l = ["A", "B", "C", "D"]
#     i

#  "B" in l
for i in l:
    print(i)
    print("Hi")

A
Hi
B
Hi
C
Hi
D
Hi

In [40]:
s = 'abcd'

for i in s:
    print(i)

a
b
c
d

In [42]:
x = 'ab'

print(x.upper())

print(x)

AB
ab

In [43]:
x = ['ab', 'cd']

for i in x:
    i.upper()        # 'ab'.upper() -> 'AB'
    
print(x)

['ab', 'cd']

In [44]:
x = ['ab', 'cd']

for i in x:
    print(i.upper())        # 'ab'.upper() -> 'AB'
    
print(x)

AB
CD
['ab', 'cd']

In [45]:
x = 'abcd'

for i in x:
    print(i)
    x.upper()

a
b
c
d

In [46]:
#             i
#         0,1,2,3,4
for i in range(5):
    print(i)

0
1
2
3
4

In [47]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [48]:
x = 'abcd'

for i in range(x):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

In [49]:
x = 'abcd'

#          0,1,2,3
for i in range(len(x)):
    print(i)

0
1
2
3

In [50]:
x = 'abcd'

#          0,1,2,3
for i in range(len(x)):
    print(i.upper())

AttributeError: 'int' object has no attribute 'upper'

In [51]:
x = 'abcd'

#          0,1,2,3
for i in range(len(x)):
    x[i].upper()

print(x)

abcd

In [52]:
x = 'abcd'

#          0,1,2,3
for i in range(len(x)):
    print(x[i].upper())

print(x)

A
B
C
D
abcd

In [53]:
x = 'abcd'

#         0,1,2,3
for i in range(len(x)):
    x = 'a'               # x = 'abcd', 'a', 'a'
    print(x)

a
a
a
a