# Dictionary

In [ ]:
# { key : value }

unordered data structures

In [1]:
ages = {"ravi":24, "shyam": 21, "roy": 41}

print(ages)

{'ravi': 24, 'shyam': 21, 'roy': 41}

In [2]:
print(type(ages))

<class 'dict'>

In [3]:
print(ages['ravi'])

24

In [4]:
print(ages['roy'])

41

In [5]:
color = {
    "red": [255,0,0],
    "green": [0,255,0],
    "blue": [0,0,255]
}
print(color['red'])

[255, 0, 0]

In [7]:
print(color['yellow'])

KeyError: 'yellow'

In [8]:
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [9]:
d = {[1,2]:10, 2:2, 3:3}
print(d)

TypeError: unhashable type: 'list'

In [10]:
# list are mutable objects

l = [10,20]
l[0] = 100
print(l)

[100, 20]

In [11]:
# strings are immutable objects

s = 'indore'
s[0] = "A"
print(s)

TypeError: 'str' object does not support item assignment

# Dictionary Functions

In [12]:
d = {1:11, 2:41, 13:9, 14:16}

print(len(d))

4

In [13]:
print(sum(d))

30

In [14]:
a = {1:2, 3:4, "hi":16}

print(sum(a))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Dictionary Methods

In [15]:
pair = {1:"Apple", "orange": [2,3,4], "2":"23"}

print(pair)

{1: 'Apple', 'orange': [2, 3, 4], '2': '23'}

In [18]:
# get
# help(dict)

print(pair.get("orange"))

[2, 3, 4]

In [19]:
print(pair.get(7))

None

In [ ]:
None ==> NULL ==> nothing

In [20]:
print(pair.get(1,"Element not found"))

Apple

In [21]:
print(pair.get(10,"Element not found"))

Element not found

In [23]:
# clear

p = {1:"Apple", "orange": [2,3,4], "2":"23"}

print(p)
p.clear()
print(p)

{1: 'Apple', 'orange': [2, 3, 4], '2': '23'}
{}

In [24]:
# keys

r = {1:"A", 2:'Zara', 3:"Maza"}

print(r.keys())

dict_keys([1, 2, 3])

In [25]:
print(list(r.keys()))

[1, 2, 3]

In [26]:
# values

r = {1:"A", 2:'Zara', 3:"Maza"}

print(r.values())

dict_values(['A', 'Zara', 'Maza'])

In [27]:
print(list(r.values()))

['A', 'Zara', 'Maza']

In [28]:
r = {3:"A", 2:'Zara', 3:"Maza"}

print(r)

print(len(r))

{3: 'Maza', 2: 'Zara'}
2

# Question

print the following series

In [ ]:
{1:1, 2:4, 3:9, 4:16, .........10:100}

In [29]:
a = {1:2}
a[3] = "Hi"
print(a)

{1: 2, 3: 'Hi'}

In [30]:
d = {}

for i in range(1,11):
    d[i] = i * i

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# Tuples

In [31]:
t = (4,3,5,6)
#    0 1 2 3

print(t)

print(type(t))

(4, 3, 5, 6)
<class 'tuple'>

In [32]:
print(t[0])

4

In [33]:
t[0] = 11  # tuple are immutable objects

TypeError: 'tuple' object does not support item assignment

In [34]:
t = "one", "two", "three"

print(t)

('one', 'two', 'three')

In [35]:
print(type(t))

<class 'tuple'>

In [36]:
t = (10)
print(t)
print(type(t))

10
<class 'int'>

In [37]:
t = (10,)
print(t)
print(type(t))

(10,)
<class 'tuple'>

# Tuple unpacking

In [38]:
n = (1,2,3)

a,b,c = n

print(a)
print(b)
print(c)

1
2
3

# Tuple Slicing

In [39]:
#                               -1
t = (11,22,33,44,55,66,77,88,99,100)
#    0  1  

print(t)

(11, 22, 33, 44, 55, 66, 77, 88, 99, 100)

In [40]:
print(t[3:5])

(44, 55)

In [41]:
print(t[:6])

(11, 22, 33, 44, 55, 66)

In [42]:
print(t[-8:-4])

(33, 44, 55, 66)

In [43]:
print(t[-4:-8])

()

In [44]:
print(t[::-1])

(100, 99, 88, 77, 66, 55, 44, 33, 22, 11)

# Tuple Methods

In [45]:
# count

t = (2,3,4,5,5,6,6,4,4,)

print(t.count(4))

3

In [46]:
# index

t = (2,3,4,5,5,6,6,4,4,)

print(t.index(4))

2

In [47]:
help(t.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [48]:
# index

t = (2,3,4,5,5,6,6,4,4,)

print(t.index(4, 5))

7

# Tuple functions

In [49]:
t = (2,3,4,5,6)

print(len(t))

5

In [50]:
print(sum(t))

20

In [51]:
print(max(t))

6

# Question

In [ ]:
# remove i from this tuple

t = ('a', 'e','i', 'o', 'u')