# Range function

In [1]:
n = range(5)

print(n)

range(0, 5)

In [2]:
print(type(n))

<class 'range'>

In [3]:
n = list(range(5))

print(n)

[0, 1, 2, 3, 4]

In [4]:
n = list(range(3,8))

print(n)

[3, 4, 5, 6, 7]

In [5]:
print(range(20) == range(0,20))

True

In [6]:
n = list(range(5,20,2))

print(n)

[5, 7, 9, 11, 13, 15, 17, 19]

# for loop

In [8]:
l = ["A", 'B', 'C', 'D']

print("Z" in  l)

False

In [9]:
l = ["A", 'B', 'C', 'D']
#                    i

#  "D"in l
for i in l:
    print(i)

A
B
C
D

In [10]:
l = ["A", 'B', 'C', 'D']

for i in l:
    print(i)
    print("Hello")

A
Hello
B
Hello
C
Hello
D
Hello

In [11]:
s = "abcd"
#     i

for i in s:
    print(i)

a
b
c
d

In [12]:
'ab'.upper()

'AB'

In [13]:
x = ['ab', 'cd']
#     i

for i in x:
    i.upper()   # 'ab'.upper() - 'AB'

print(x)

['ab', 'cd']

In [14]:
x = ['ab', 'cd']
#     i

for i in x:
    print(i.upper()) # 'AB', 'CD'

print(x)

AB
CD
['ab', 'cd']

In [15]:
x = 'abcd'

for i in x:
    print(i)
    x.upper()

a
b
c
d

In [16]:
x = 'abcd'

for i in x:
    print(i.upper())

A
B
C
D

In [17]:
#            i
#          0,1,2,3,4
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
x = 'abcd'

for i in range(x):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

In [19]:
x = 'abcd'

#          0,1,2,3
for i in range(len(x)):
    print(i.upper())

AttributeError: 'int' object has no attribute 'upper'

In [20]:
x = 'abcd'

#          0,1,2,3
for i in range(len(x)):
    print(i)

0
1
2
3

In [21]:
for i in range(2,6):
    print(i)

2
3
4
5

In [22]:
x = 'abcd'

#          0,1,2,3
for i in range(len(x)):
    x[i].upper()

print(x)

abcd

In [23]:
x = 'abcd'

#          0,1,2,3
for i in range(len(x)):
    x = 'a'
    print(x)

a
a
a
a

In [24]:
x = 'abcd'

#          0,1,2,3
for i in range(len(x)):
    print(x)
    x = 'a'

abcd
a
a
a

# Dictionary

In [ ]:
l = [1,2,3,4,54]
#    0 1 2 3 4

# hashing

#  [, , ,44 , 55,]
#             45
#             65

55 % 10 = 5 --->     
44 % 10 = 4
45 % 10 = 5
65 % 10 = 5

In [ ]:
# JSON

{
    "username": "hemansnation",
    "password": "12334545"
}

In [25]:
# key: value

d = {"ravi": 24, "viky": 21, "roy": 36}

print(d)

{'ravi': 24, 'viky': 21, 'roy': 36}

In [26]:
print(type(d))

<class 'dict'>

In [ ]:
# unordered data structures

In [27]:
print(d['roy'])

36

In [28]:
print(d['ravi'])

24

In [29]:
color = {
    "red": [255,0,0],
    "green": [0,255,0],
    "blue": [0,0,255]
}
print(color['red'])

[255, 0, 0]

In [30]:
print(color['yellow'])

KeyError: 'yellow'

In [31]:
d = {}

print(d)

print(type(d))

{}
<class 'dict'>

In [32]:
d = {1:1, 2:2, 3:4}

print(d[1])

1

In [33]:
d = {[1,2]:1, 2:2, 3:4}

print(d[1,2])

TypeError: unhashable type: 'list'

In [34]:
# mutable object - list

l = [10,20]

l[0] = 100

print(l)

[100, 20]

In [35]:
s = "India"  # immutable objects

s[0] = "A"

print(s)

TypeError: 'str' object does not support item assignment

In [ ]:
# int are immutable

1 + 1 = 2

# Dictionary Functions

In [36]:
d = { 1:1, 2:4, 3:9, 4:16}

print(len(d))

4

In [37]:
print(sum(d))

10

In [38]:
a = {1:1,2:4, "hi":16}

print(sum(a))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
d

{1: 1, 2: 4, 3: 9, 4: 16}

In [40]:
print(max(d))

4

In [41]:
print(min(d))

1

# Dictionary Methods

In [43]:
# help(dict)

In [44]:
pair = { 1: "Apple", "orange": [2,3,4], "2": "3"}

print(pair)

{1: 'Apple', 'orange': [2, 3, 4], '2': '3'}

In [45]:
# get

print(pair.get("orange"))

[2, 3, 4]

In [48]:
print(pair["orange"])

[2, 3, 4]

In [49]:
print(pair.get(7))

None

In [ ]:
None => NULL # nothing

In [50]:
print(pair.get(1, "Not Available"))

Apple

In [51]:
print(pair.get(10, "Not Available"))

Not Available

In [52]:
# clear

d

{1: 1, 2: 4, 3: 9, 4: 16}

In [53]:
d.clear()

print(d)

{}

In [54]:
l = [10,20,30]

l[3] = 100

print(l)

IndexError: list assignment index out of range

In [55]:
d = {"A": 10, "Z": 20}

d["A"] = 100

print(d)

{'A': 100, 'Z': 20}

In [56]:
d["goa"] = 200

print(d)

{'A': 100, 'Z': 20, 'goa': 200}

# Question

In [ ]:
{1:1, 2:4, 3:9, 4:16, 5:25 ...........10:100}

# Tuple

tuple are immutable

In [57]:
t = (1,2,3,4)

print(t)

print(type(t))

(1, 2, 3, 4)
<class 'tuple'>

In [58]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [59]:
s = 'goa'

s[0] = "A"

TypeError: 'str' object does not support item assignment

In [60]:
t = (2,3,4,5,6,67)

print(t[3:])

(5, 6, 67)

In [61]:
t

(2, 3, 4, 5, 6, 67)

In [62]:
t = (1,2,3,4,5)

print(len(t))

5

In [63]:
print(sum(t))

15

In [64]:
print(max(t))

5

In [65]:
print(min(t))

1

In [66]:
#             -1
t = ("A", 1,2,4)
#     0   1 2 3

In [67]:
print(t)

('A', 1, 2, 4)

In [68]:
print(t[0])

A

In [69]:
print(t[-1])

4

In [70]:
t = ()

print(t)

print(type(t))

()
<class 'tuple'>

In [71]:
t = (10)

print(t)

print(type(t))

10
<class 'int'>

In [72]:
t = (10,)

print(t)

print(type(t))

(10,)
<class 'tuple'>

# Tuple Methods

In [73]:
t = (2,3,4,5,5,3,3,3,7)

print(t.count(5))

2

In [74]:
print(t.count(7))

1

In [75]:
print(t.count(10))

0

In [76]:
# index

print(t)

(2, 3, 4, 5, 5, 3, 3, 3, 7)

In [77]:
print(t.index(5))

3

In [78]:
help(t.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [79]:
t

(2, 3, 4, 5, 5, 3, 3, 3, 7)

In [81]:
print(t.index(5,4))

4

# Questions

In [ ]:
t = ('a','e','i','o','u')

# Sets

unordered and unindex

sets are mutable

In [82]:
n = {1,2,3,4,5,6}

print(n)

print(type(n))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [83]:
n = {1,2,3,4,5,6,6,6,6,5,5}

print(n)

print(type(n))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [84]:
s = set()

print(s)

set()

In [86]:
n = set(['a','b', 4])

print(n)

{'b', 4, 'a'}

In [87]:
n = {1,2,3,44,55}

for i in n:
    print(i)

1
2
3
55
44

## set operations

In [88]:
# union

f = {1,2,3,4,5,6}
s = {4,5,6,7,8,9}

print(f | s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [89]:
# intersection

f = {1,2,3,4,5,6}
s = {4,5,6,7,8,9}

print(f & s)

{4, 5, 6}

In [90]:
# difference

f = {1,2,3,4,5,6}
s = {4,5,6,7,8,9}

print(f - s)

{1, 2, 3}

In [91]:
print(s - f)

{8, 9, 7}

In [92]:
# symmetry

f = {1,2,3,4,5,6}
s = {4,5,6,7,8,9}

print(f ^ s)

{1, 2, 3, 7, 8, 9}

# set functions

In [93]:
s = {1,2,3,4}

print(len(s))
print(sum(s))
print(max(s))
print(min(s))

4
10
4
1

# set methods

In [95]:
# help(set)

In [96]:
# add

n = {1,2,3,4}

print(n)

n.add(-7)

print(n)

{1, 2, 3, 4}
{1, 2, 3, 4, -7}

In [97]:
print(n)
n.clear()

print(n)

{1, 2, 3, 4, -7}
set()

In [98]:
# remove

n

set()

In [99]:
n = {1,2,3,4}

n.remove(3)
print(n)

{1, 2, 4}