# While Loop

In [1]:
print("Himanshu")
print("Himanshu")

Himanshu
Himanshu

In [2]:
i = 1

print(i <= 5)

True

In [3]:
print(i >= 5)

False

In [4]:
print(i >= 1)

True

In [5]:
i = 1

while i <= 5:
    print("Himanshu")
    i = i + 1           # i = 1, 2, 3, 4, 5, 6

Himanshu
Himanshu
Himanshu
Himanshu
Himanshu

In [6]:
i = 1

while i <= 5:
    print(i)
    i = i + 1

1
2
3
4
5

In [ ]:
1
2
3
4
5
6
7
8
9
10

In [7]:
i = 1

while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [8]:
print("Hello")
print("World")

Hello
World

In [9]:
print("Hello", end="\n")
print("World")

Hello
World

In [10]:
print("Hello", end="+")
print("World")

Hello+World

In [11]:
print("Hello", end=" ")
print("World")

Hello World

In [12]:
print("Hello", end=" @@@ ")
print("World")

Hello @@@ World

In [13]:
print("Hello", end="@")
print("World", end="$")

Hello@World$

### print the following series of numbers

In [ ]:
1 2 3 4 5 6 7 8 9 10

In [14]:
i = 1

while i <= 10:
    print(i, end="  ")
    i = i + 1

1  2  3  4  5  6  7  8  9  10

In [15]:
a = 10

print(a * a)

print(a)

100
10

In [ ]:
1  4  9  16  25  36  49  64  81  100

In [16]:
i = 1

while i <= 10:
    print(i*i, end="  ")
    i = i + 1

1  4  9  16  25  36  49  64  81  100

**Write a program to enter 5 values from user and print them.**

In [17]:
i = 1

while i <= 5:
    a = input("Enter your number: ")
    print(a)
    i = i + 1
    #   1 + 1

Enter your number: 10
10
Enter your number: 20
20
Enter your number: 30
30
Enter your number: 40
40
Enter your number: 50
50

In [18]:
7 / 2

3.5

In [19]:
7 % 2   # modulo - return the reminder

1

In [20]:
10 % 2

0

In [21]:
11 % 4

3

In [22]:
7 // 2  # floor division

3

In [23]:
15 // 7

2

In [24]:
153 % 10

3

In [ ]:
15)7(
   7

**Write a program to enter a number from user and print reverse of it.**

In [ ]:
153

351

In [ ]:
153  % 10 = 3
153 // 10 = 15

15  % 10 = 5
15 // 10 = 1

1  % 10 = 1
1  // 10 = 0

In [25]:
n = input("Enter your number: ")

print(n)

print(type(n))

Enter your number: 10
10
<class 'str'>

In [26]:
n = int(input("Enter your number: "))

print(n)

print(type(n))

Enter your number: 10
10
<class 'int'>

In [31]:
n = int(input("Enter a number: "))

while n > 0:
    r = n % 10          # r = 3, 5, 1
    print(r, end="")    # 351
    n = n // 10         # n = 153, 15, 1, 0

Enter a number: 153
351

**Write a program to enter a number from user and print sum of its individual digits**

In [ ]:
153

1 + 5 + 3

9

In [ ]:
0 = s
3 = s + 3 = s
5 = s + 5 = s
1

In [32]:
n = int(input("Enter a number: "))
s = 0

while n > 0:
    r = n % 10
    s = s + r         # s = 0, 3, 8, 9
    n = n // 10

print("Sum =", s)

Enter a number: 153
Sum = 9

# Day 3

**Write a program to reverse a number**

In [ ]:
153

351 -  this should be a whole number

In [1]:
n = int(input("Enter a number: "))
s = 0

while n > 0:
    r = n % 10          # r = 3, 5, 1
    s = s*10 + r        # s = 0, 3, 35, 351
    n = n // 10         # n = 153, 15, 1, 0

print(s)
print(s * 2)

Enter a number: 153
351
702

**Write a program to enter a number from user and check if it palindrome or not**

In [ ]:
121

121

153 = 351 - not a palindrome number

In [3]:
n = int(input("Enter a number: "))
s = 0

while n > 0:
    r = n % 10          # r = 3, 5, 1
    s = s*10 + r        # s = 0, 3, 35, 351
    n = n // 10         # n = 153, 15, 1, 0

if s == n:
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter a number: 121
Not a Palindrome

In [5]:
n = int(input("Enter a number: "))
temp = n
s = 0

while n > 0:
    r = n % 10          # r = 3, 5, 1
    s = s*10 + r        # s = 0, 3, 35, 351
    n = n // 10         # n = 153, 15, 1, 0

if s == temp:
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter a number: 1234321
Palindrome

**Write a program to enter a number from user and check if it is armstrong or not**

In [ ]:
153

cube(1) + cube(5) + cube(3)

370

371

In [9]:
n = int(input("Enter a number: "))
temp = n
s = 0

while n > 0:
    r = n % 10          # r = 3, 5, 1
    s = s + (r*r*r)     # s = 0, 27, 152, 153
    n = n // 10         # n = 153, 15, 1, 0

if s == temp:
    print("Armstrong")
else:
    print("Not an Armstrong")

Enter a number: 371
Armstrong

**Write a program to enter a number from user and print its individual digits on seperate line**

In [ ]:
153

1
5
3

In [10]:
n = int(input("Enter a number: "))
s = 0

while n > 0:
    r = n % 10          # r = 3, 5, 1
    print(r)            # s = 0, 27, 152, 153
    n = n // 10         # n = 153, 15, 1, 0

Enter a number: 153
3
5
1

In [11]:
n = int(input("Enter a number: "))
s = 0

while n > 0:
    r = n % 10          # r = 3, 5, 1
    s = s*10 + r        # s = 0, 27, 152, 153
    n = n // 10         # n = 153, 15, 1, 0

while s > 0:
    r = s % 10
    print(r)
    s = s // 10

Enter a number: 153
1
5
3

# List

collection of different type of elements

In [ ]:
a = 10   # int
b = 20
c = 30

In [12]:
l = [10, "A", "India", 10.6]

print(l)

print(type(l))

[10, 'A', 'India', 10.6]
<class 'list'>

In [13]:
l = [10, "A", "India", 10.6]
#    0    1      2       3

print(l[0])

10

In [14]:
print(l[3])

10.6

In [15]:
print(l[2])

India

In [16]:
print(l[5])

IndexError: list index out of range

In [17]:
l = [10, "A", "India", 10.6]
#    0    1      2       3

print(type(l[0]))

<class 'int'>

In [18]:
l[0] = 200

print(l)

[200, 'A', 'India', 10.6]

In [19]:
l[5] = 1000

IndexError: list assignment index out of range

### negative index

In [20]:
#    -4  -3     -2      -1
l = [10, "A", "India", 10.6]
#    0    1      2       3

print(l[-1])

10.6

In [21]:
print(l[3])

10.6

In [22]:
print(l[0])

print(l[-4])

10
10

In [23]:
print(l[-2])

India

# List Slicing

In [24]:
#   -11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1
l = [11,22,33,44,10,24,36,68,99,81,100]
#    0  1  2  3   4  5  6  7  8  9  10

print(l)

[11, 22, 33, 44, 10, 24, 36, 68, 99, 81, 100]

In [25]:
print(l[1:7])         # l[start : end]

[22, 33, 44, 10, 24, 36]

In [26]:
print(l)

[11, 22, 33, 44, 10, 24, 36, 68, 99, 81, 100]

In [27]:
#   -11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1
l = [11,22,33,44,10,24,36,68,99,81,100]
#    0  1  2  3   4  5  6  7  8  9  10

print(l[4:10])

[10, 24, 36, 68, 99, 81]

In [28]:
print(l[8:10])

[99, 81]

In [29]:
print(l[0:1])

[11]

In [30]:
print(l[1:])

[22, 33, 44, 10, 24, 36, 68, 99, 81, 100]

In [31]:
print(l[8:])

[99, 81, 100]

In [32]:
print(l[:])

[11, 22, 33, 44, 10, 24, 36, 68, 99, 81, 100]

In [33]:
print(l[:5])

[11, 22, 33, 44, 10]

In [34]:
#   -11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1
l = [11,22,33,44,10,24,36,68,99,81,100]
#    0  1  2  3   4  5  6  7  8  9  10

print(l[0:-4])

[11, 22, 33, 44, 10, 24, 36]

In [35]:
print(l[2:-2])

[33, 44, 10, 24, 36, 68, 99]

In [36]:
print(l[2:0])

[]

In [37]:
print(l[0:0])

[]

In [38]:
print(l[5:15])

[24, 36, 68, 99, 81, 100]

In [39]:
print(l[15])

IndexError: list index out of range

In [40]:
#   -11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1
l = [11,22,33,44,10,24,36,68,99,81,100]
#    0  1  2  3   4  5  6  7  8  9  10

print(l[1:4])

[22, 33, 44]

In [41]:
print(l[4:1])

[]

In [42]:
print(l[-4:-1])

[68, 99, 81]

In [43]:
print(l[-1:-4])

[]

## steps

In [44]:
#   -11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1
l = [11,22,33,44,10,24,36,68,99,81,100]
#    0  1  2  3   4  5  6  7  8  9  10

print(l[0:11:2])   # l[start : end : steps]

[11, 33, 10, 36, 99, 100]

In [45]:
print(l[0:11:3])

[11, 44, 36, 81]

In [46]:
print(l[::])

[11, 22, 33, 44, 10, 24, 36, 68, 99, 81, 100]

In [47]:
print(l[::1])

[11, 22, 33, 44, 10, 24, 36, 68, 99, 81, 100]

In [48]:
print(l[::-1])   # reverse

[100, 81, 99, 68, 36, 24, 10, 44, 33, 22, 11]

In [49]:
#   -11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1
l = [11,22,33,44,10,24,36,68,99,81,100]
#    0  1  2  3   4  5  6  7  8  9  10

print(l[4:8:-1])

[]

In [50]:
print(l[8:4:-1])

[99, 68, 36, 24]

In [51]:
print(l[::-2])

[100, 99, 36, 10, 33, 11]

In [52]:
print(l[::0])

ValueError: slice step cannot be zero

## list functions

In [53]:
l = [10,20,30,40,50]

print(len(l))

5

In [54]:
print(len(l) - 1)

4

In [55]:
print(sum(l))

150

In [56]:
print(max(l))

50

In [57]:
print(min(l))

10

In [58]:
l = ["A", 10,20,30]

print(sum(l))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [59]:
print(len(l))

4

# List methods

In [61]:
# help(print)

In [63]:
# help(list)

In [64]:
l = [10,20,30]

l.append(40)

print(l)

[10, 20, 30, 40]

In [65]:
l.append("India")

In [66]:
print(l)

[10, 20, 30, 40, 'India']

In [67]:
print(l.index('India'))

4

In [68]:
print(l.index(10))

0

In [69]:
print(l)

[10, 20, 30, 40, 'India']

In [72]:
l.reverse()

In [73]:
print(l)

[10, 20, 30, 40, 'India']

In [74]:
print(l[::-1])

['India', 40, 30, 20, 10]

In [75]:
print(l)

[10, 20, 30, 40, 'India']