# While Loop

In [2]:
print("Himanshu")
print("Himanshu")

Himanshu
Himanshu

In [4]:
i = 1

print(i <= 5)

print(i >= 5)

True
False

In [5]:
i = 1

while i <= 5 :
    print("Himanshu")
    i = i + 1        # i = 1, 2, 3, 4, 5, 6

Himanshu
Himanshu
Himanshu
Himanshu
Himanshu

In [6]:
i = 1

while i <= 10 :
    print("Himanshu")
    i = i + 1

Himanshu
Himanshu
Himanshu
Himanshu
Himanshu
Himanshu
Himanshu
Himanshu
Himanshu
Himanshu

In [7]:
i = 1

while i <= 5 :
    print(i)
    i = i + 1

1
2
3
4
5

In [ ]:
1
2
3
4
5
6
7
8
9
10

In [8]:
i = 1

while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [9]:
print("Hello")
print("World")

Hello
World

In [10]:
print("Hello", end='\n')
print("World")

Hello
World

In [11]:
print("Hello", end='+')
print("World")

Hello+World

In [12]:
print("Hello", end=' ')
print("World")

Hello World

In [13]:
print("Hello", end='')
print("World")

HelloWorld

In [14]:
print("Hello", end='@')
print("World")

Hello@World

In [15]:
print("Hello", end='@')
print("World", end='$')

Hello@World$

In [ ]:
1  2  3  4  5  6  7  8  9  10

In [16]:
i = 1

while i <= 10:
    print(i, end='  ')
    i = i + 1

1  2  3  4  5  6  7  8  9  10

In [ ]:
1  4  9  16  25  36  49  64  81  100

In [17]:
a = 10

print(a*3)

print(a)

# a = a * 3

30
10

In [18]:
i = 1

while i <= 10:
    print(i*i, end='  ')
    i = i + 1

1  4  9  16  25  36  49  64  81  100

**Write a program to enter 5 values from user and print them.**

In [19]:
i = 1

while i <= 5:
    a = input("Enter your number: ")
    
    print(a)
    
    i = i + 1

Enter your number: 10
10
Enter your number: 20
20
Enter your number: 30
30
Enter your number: 40
40
Enter your number: 50
50

**Write a program to enter a number from user and print reverse of it.**

In [ ]:
153

351

In [20]:
7 % 2  # return reminder

1

In [21]:
7 / 2

3.5

In [22]:
7 // 2

3

In [24]:
153 % 10

3

In [ ]:
 x   % 10 = z
153  % 10 = 3
153 // 10 = 15

15  % 10 = 5
15 // 10 = 1

1  %  10 = 1
1  // 10 = 0

In [26]:
n = int(input("Enter a number: "))

print(n)

print(type(n))

Enter a number: 10
10
<class 'int'>

In [28]:
n = int(input("Enter a Number: "))

while n > 0:
    r = n % 10
    print(r, end='')   # 351
    n = n // 10        # n = 153, 15, 1

Enter a Number: 12345
54321

**Write a program to enter a number from user and print sum of its individual digits**

In [ ]:
153

1 + 5 + 3

9


0  s
3  s + 3 = 3
5  s + 5 = 8
1  s + 1 = 9

In [30]:
n = int(input("Enter a Number: "))
s = 0

while n > 0:
    r = n % 10
    s = s + r     # s = 0, 3, 8, 9
    n = n // 10

print("Sum =", s)

Enter a Number: 2345
Sum = 14

**Write a program to enter a number from user and check if it palindrome or not**

In [ ]:
121

121

153 = 351  not a palindrome

In [34]:
n = int(input("Enter a Number: "))
s = 0

while n > 0:
    r = n % 10
    s = s * 10 + r    # s = 0, 3, 35, 351
    n = n // 10

print(s)
print(s * 2)

Enter a Number: 153
351
702

In [40]:
n = int(input("Enter a Number: "))
t = n
s = 0

while n > 0:
    r = n % 10
    s = s * 10 + r    # s = 0, 3, 35, 351
    n = n // 10

if s == t:
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter a Number: 121
Palindrome

In [38]:
10 == 11

False

**Write a program to enter a number from user and check if it is armstrong or not**

In [ ]:
153

cube(1) + cube(5) + cube(3) = 153

370

371

In [44]:
n = int(input("Enter a Number: "))
t = n
s = 0

while n > 0:
    r = n % 10
    s = s + r*r*r
    n = n // 10

if s == t:
    print("Armstrong Number")
else:
    print("Not an Armstrong Number")

Enter a Number: 371
Armstrong Number

**Write a program to enter a number from user and print its individual digits on seperate line.**

In [ ]:
153

1
5
3

In [45]:
n = int(input("Enter a Number: "))
s = 0

while n > 0:
    r = n % 10
    print(r)
    n = n // 10

Enter a Number: 153
3
5
1

In [47]:
n = int(input("Enter a Number: "))
s = 0

while n > 0:
    r = n % 10
    s = s * 10 + r
    n = n // 10

# s = 351

while s > 0:
    r = s % 10
    print(r)
    s = s // 10

Enter a Number: 12345
1
2
3
4
5